
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 11;
  font-style: normal;
}

body {
    background-color: whitesmoke;
}

h2 {
  text-align: center;
}

div.mycontainer {
    width:100%;
    overflow:auto;
  }
  div.mycontainer div {
    width:50%;  
    float: left;
  }

  div.name-container {
    height: 200px;
    background-color: rgb(245, 246, 249);
  }