#header ul {

    list-style: none;
   
    margin: 10px;
   
    padding: 0;
   
   }
   
   #header ul li a {
   
    background-color: #95a9cf;
   
    border: 1px solid #000000;
   
    color: #222222;
   
    display: block;
   
    font-size: 17px;
   
    font-weight: bold;
   
    margin-bottom: -1px;
   
    padding: 12px 10px;
   
    text-decoration: none;
   
   }


.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 11;
    font-style: normal;
  }

   .topnav {
    overflow: hidden;
    background-color: #a5a5a5;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #878299;
    color: white;
  }